[2015-04-08 14:22] cpalm opened #2 "System.Web.Caching.Cache implementation of ICacheClient"
Love the building blocks!

It is not a bug, it is a feature request

It would be really cool, if there could be an implementation of ICacheClient via System.Web.Caching.Cache

[2015-04-08 15:25] niemyjski commented on #2
Please correct me if I'm wrong but doesn't the [`System.Web.Caching.Cache`](https://msdn.microsoft.com/en-us/library/system.web.caching.cache%28v=vs.110%29.aspx) just cache per process? If this is the case it would be better to just use our `InMemoryCacheClient` client as it's doing the same thing without the overhead of `System.Web.Caching.Cache`.

[2015-04-10 11:55] cpalm commented on #2
You are absolutely right. Thanks for the quick answer.

I was not using the InMemoryCacheClient as a singleton eg.
kernel.Bind<ICacheClient>().To<InMemoryCacheClient>().InSingletonScope();

[2015-04-10 16:06] niemyjski commented on #2
No problem! Please let us know if you have any other questions!

[2015-04-10 16:06] #2 closed

[2015-07-01 21:09] tonymobster opened #5 "Roadmap suggestion"
For the roadmap you could mirror the [go-kit](https://github.com/go-kit/kit) roadmap.

[2015-07-01 21:20] niemyjski commented on #5
@tonymobster where is their roadmap? I looked at the repo but I don't see it.

[2015-07-01 21:28] tonymobster commented on #5
Yeah sorry, I was referring to the various [components] (https://github.com/go-kit/kit#component-status) of the toolkit, the applicable ones.

[2015-07-15 19:19] niemyjski commented on #5
Thanks, it's similar to what we do but we could make ours better.

[2015-07-15 19:22] tonymobster commented on #5
My sentiments exactly

[2015-07-15 19:22] niemyjski opened #6 "Ability to receive a notification/check when a queue item has been completed/abandoned(or removed)."
Currently we are abandoning queue items when there is an error which is great. But in some scenarios this doesn't work the greatest for example. When the queue item has been abandoned more times then the retry limit, there is no way to see when the queue item will be removed. As such we can't clean up data data payloads on disk that the queue item points to.

[2015-07-15 21:51] niemyjski opened #7 "Update IQueue.Dequeue implementations to not throw a timeout exception."
Throwing any exception in a tight loop/continuously running code path is not a good idea and can really cause performance issues. I think we should return null instead.

[2015-07-16 14:45] ejsmith commented on #6
I am going to add a FileQueue where you can store the queue payload in file storage and then put a file marker item in the queue. This is a common pattern and we should make it easier.

[2015-07-16 14:58] niemyjski commented on #6
Sounds good :+1:

[2015-07-16 15:00] niemyjski commented on #6
Do we want to make any options available to say move any non processed items to a error folder? It might be nice to take a look at adbandoned items to figure out why they were discarded.. thoughts? In our case an event might not be able to be processed due to a serialization error. It would suck to discard them and never be able to reproduce.

[2015-07-16 15:53] ejsmith commented on #6
Yeah, we would pass in an IFileStorage impl and we would also need paths for where you want to store the files. We also allow archiving of completed items. So it would need to specify a queue folder, archive folder and deadletter folder. Probably have a deadletter TTL policy on it as well where it would cleanup deadletter files after a certain time. I think queues have a deadletter ttl already so

[2015-07-16 15:55] niemyjski commented on #6
yeah, I kind of agree. But how is it supposed to know what folder it's supposed to go into cause that's dynamically changing.. It's almost like this thing should be dumb. Maybe we call a method to calculate it and pass the queue item??

[2015-07-16 15:56] ejsmith commented on #6
Yeah, I think the concrete queue would have to provide logic to figure out an archive folder.

[2015-07-20 20:36] ejsmith opened #8 "Implement cache tagging"
Adding a cache tagging feature would allow us to invalidate keys when we otherwise wouldn't be able to.

http://stackify.com/implementing-cache-tagging-redis/

[2015-07-20 21:33] niemyjski commented on #8
+1 This would also help fix issues listed here: https://github.com/exceptionless/Exceptionless/issues/125

[2015-08-25 15:50] niemyjski commented on #7
This has been fixed in the latest builds

[2015-08-25 15:50] #7 closed

[2015-08-25 15:51] niemyjski commented on #5
I'm going to close this as we are going to try and start using milestones for all of our work.

[2015-08-25 15:51] #5 closed

[2015-08-25 15:53] niemyjski opened #9 "Update Caching, Queues, Messaging and Locks to be async"

[2015-08-25 15:55] niemyjski opened #10 "Add Core CLR support"
We should be using the new project.json file format and target cross plat.

[2015-09-01 22:43] niemyjski opened #11 "Add logging documentation"

[2015-09-03 18:56] chrispauly opened #12 "Idea: It would be handy to have an Events component"
Similar to the logging and metrics (probably), it would be useful to have an eventqueue that all of your classes/methods publish to (in the situations where someone initializes it).  Then subscribers of the event queue could listen for certain events and perform actions based on it.

This concept could basically leverage existing components you have already.  And I haven't looked at your all of yo

[2015-09-03 19:05] niemyjski commented on #12
@ejsmith: Could we do this with the new attached behaviors?

[2015-09-03 19:20] ejsmith commented on #12
I think you would want to use the messagebus for this.  You could publish a message from wherever you are saving the file and then you could subscribe to that event and enqueue an action to happen or just do the action right then.  Does that make sense?

[2015-09-03 19:37] chrispauly commented on #12
I was thinking leveraging the messagebus would make the most sense too... since it already has the pub/sub functionality and ability to perform an action based on an object type (which would be the specific EventArgs message for whatever event occurred).  This architecture seems like a way you could provide metrics across every function (as long as they implement the event messaging).

Also, it's

[2015-09-17 22:50] #9 closed

[2015-10-04 14:49] ejsmith commented on #8
This would also help with the fact that iterating keys in redis is highly discouraged and will be impossible in a cluster.

[2015-10-30 19:31] #11 closed

[2015-12-08 17:40] niemyjski opened #17 "ElasticRepository.OnDocumentsSavedAsync will only send notifications if there were saved docs"
There could be added documents, so should we also send out a Added ChangeType notification? I almost think that we should have an event handler for Documents Saved and DocumentsAdded that just handles notifications. This would ensure that it's always executed properly.

https://github.com/exceptionless/Foundatio/blob/master/src/Elasticsearch/Repositories/ElasticRepositoryBase.cs#L280-L281

[2015-12-08 17:57] niemyjski opened #18 "Update QueueItem to allow consumers to know when it's reached DeadLetter"
This would allow [consumers](https://github.com/exceptionless/Exceptionless/blob/master/Source/Core/Jobs/EventPostsJob.cs#L48) to know when it's reached it's max retry account and will be discarded.

[2015-12-08 18:05] niemyjski opened #19 "ElasticRepository Retry on BulkResult error"
Some items may fail due to version change or multiple bulk results running at the same time. We should retry this and possibly return the number of modified documents (bulkResult.Items). Also, we should invalidate the cache before returning..

https://github.com/exceptionless/Foundatio/blob/master/src/Elasticsearch/Repositories/ElasticRepositoryBase.cs#L178

[2015-12-08 21:15] niemyjski opened #20 "Implement paging support and unit tests for GetFileListAsync"
We currently retrieve all records for FileStorage and don't implement paging at all for AzureFileStorage. We would need to figure out how to do custom paging with ListBlobsSegmentedAsync

[2016-01-25 09:42] jamie94bc opened #21 "Azure Storage Queue support"

[2016-02-11 17:16] #21 closed

[2016-02-11 22:04] jamie94bc opened #24 "Redis and InMemory implementations for RenewLock()"
Already implemented in Azure Service Bus and Storage Queues.

Redis: https://github.com/exceptionless/Foundatio/src/Redis/Queues/RedisQueue.cs#L297
InMemory: https://github.com/exceptionless/Foundatio/blob/master/src/Core/Queues/InMemoryQueue.cs#L174

[2016-02-12 09:48] jamie94bc opened #25 "Queue Management Improvements"
Our current implementation of `IQueue` has a [DeleteQueueAsync](https://github.com/exceptionless/Foundatio/blob/master/src/Azure/Queues/AzureServiceBusQueue.cs#L68) method which actually recreates the queue.

This clearly isn't expected behaviour (meaning we can't delete the queue easily in the test tear town) and in addition, we are also performing remote calls in the constructor of the queue whi

[2016-02-12 09:56] jamie94bc opened #26 "Automatic lock renewal in QueueProcessorJobBase"
We've recently added the ability to [renew the lock on the queue entry](https://github.com/exceptionless/Foundatio/blob/master/src/Azure/Queues/AzureServiceBusQueue.cs#L150).

It would be great if we could (optionally) do this automatically in QueueProcessorJobBase for long running processes. The alternative would be to pass the queue entry around everywhere to renew - including in scenarios where

[2016-02-12 15:32] niemyjski commented on #25
Yeah, I think that queue creation should happen automatically by the queues upon first use. Delete definitely shouldn't recreate the queue but maybe set a flag saying it needs to be recreated. We could just set some internals to null on delete and every method has an Ensure() method to ensure it's recreated. Thoughts?

[2016-02-12 15:39] ejsmith commented on #25
I actually had an interface together that was super similar to this before, but bailed out due to time constraints. I think I had just an object parameter for options on the CreateQueue method. That way you can pass any type of object in for configuration that the various implementations could cast and use how they wanted. I am going to try and dig that up and see if there were any good ideas.

[2016-03-22 17:49] ytkaczyk opened #31 "Create strong name nuget packages"
Would it be possible to create strong name versions of the nuget packages? I am using Signal.Redis which has a dependency on StackExchange.Redis.StrongName while Foundation.Redis has a dependency on StackExchange.Redis. I can build the Foundation solution with the proper dependency but I would imagine I am not the only one having this issue and the community could benefit from such strong named nu

[2016-03-22 17:54] ejsmith commented on #31
Yeah, we will probably need to have signed packages. Think we are going to wait until we move to the new project.json format and see if it's easier to do at that point.

[2016-03-22 17:58] ytkaczyk commented on #31
Thank you for your quick reply. This makes sense. I'll build the solution with signed dependencies in the mean time.
Best regards.

[2016-03-23 15:18] niemyjski opened #32 "Add scoped metrics client"
This would allow you to scope all the metric names easily.

[2016-03-30 12:40] mobydi opened #33 "Add Job backend implementation for Quartz, Hangfire, Azure, AWS"
You can provide the IJob interface and some different job implementations that derive from
1. Quartz
2. Hangfire
3. Azure/AWS
4. Memory

[2016-03-30 13:05] niemyjski commented on #33
Are you looking for something specific? What we are do now is we create a console application and deploy that into our azure webjobs:

- https://github.com/exceptionless/Exceptionless/tree/master/Source/Jobs/EventPost
- https://github.com/exceptionless/Foundatio/tree/master/src/Test/SampleJob
- https://exceptionless.com/better-approach-running-azure-webjobs/

[2016-03-31 04:48] send2vinnie opened #34 "Add reentrant read-write lock"
Add reentrant read-write lock to get better performance while doing read only operations.
[https://github.com/Netflix/curator/wiki/Shared-Reentrant-Read-Write-Lock](https://github.com/Netflix/curator/wiki/Shared-Reentrant-Read-Write-Lock)

[2016-03-31 12:40] niemyjski commented on #33
@mobydi does this work for you?

[2016-03-31 12:43] #33 closed

[2016-03-31 12:44] ejsmith commented on #34
Would love to see a pull request for this!

[2016-03-31 12:44] niemyjski commented on #33
If you have any questions on the various implementations feel free to leave a message here or on our gitter channel: http://gitter.im/exceptionless/Discuss as we would be more than happy to help you!

[2016-04-04 22:06] moswald opened #36 "Create async initialization method for AzureServiceBusQueue."
A lot of the `Microsoft.ServiceBus.NamespaceManager` methods called in the `AzureServiceBusQueue` constructor have `async` counterparts. Since constructors can't be `async`, I propose deprecating the current constructor (shakes fist at semver) and adding a new private one that does very little. Then introduce a new factory method: `static async Task<AzureServiceBusQueue>` factory method that does

[2016-04-04 22:39] ejsmith commented on #36
Yeah, probably bad to be doing a bunch of heavy calls in the constructor. I think a generalized lazy initialization pattern would be good.

Do you want to take a stab at this and create a pull request for it?

[2016-04-04 23:26] moswald commented on #36
I was planning on starting it tomorrow when I got back to the office. :) I just wanted to get the conversation rolling before then.

[2016-04-05 01:27] ejsmith commented on #36
Awesome! Thank you.

[2016-04-05 07:27] jamie94bc commented on #36
This relates to #25

[2016-04-05 13:08] moswald commented on #36
Regarding #25, I'll take a look at having an optional parameter that makes the queue lazy - it will create and connect only on the first enqueue/dequeue.

[2016-04-05 13:09] moswald commented on #25
While I'm getting my hands dirty with #36, I can take a look at having the delete be more permanent.

[2016-04-05 13:29] niemyjski commented on #36
Awesome :) I wonder if we always need to setup the connections/subscriptions immediately. How would you know there is an item to dequeue in a distributed environment.

[2016-04-05 13:32] jamie94bc commented on #36
@niemyjski I think that would be handled by the `StartWorking()` method? I assume @moswald is thinking about adding something like a `EnsureQueueAsync()` method that each public API calls first.

[2016-04-05 14:22] moswald commented on #36
@niemyjski I would expect that if there's nothing to dequeue, it would just time out.

[2016-04-05 15:33] niemyjski commented on #36
@moswald Yeah! Not sure what I was thinking before (long night of playing quantum break). I think having this would be great and it looks like it would be super simple to implement.

[2016-04-26 22:20] trbenning opened #39 "Add support for DefaultMessageTimeToLive and AutoDeleteOnIdle in AzureServiceBusQueue"
Obviously there are many more "Azure ServiceBus Queue" specific properties that are unsupported, but these 2 are the ones I need right now. Do you guys have a strategy for how you might support these types of properties moving forward?

I started to do a pull request to set the properties via the constructor, but bolting on properties piecemeal seems like an unsustainable strategy.

[2016-04-27 10:07] jamie94bc commented on #39
Up until now we've tried to implement equal functionality on each implementation (eg. storage queue has it's own implementation of deadletter, service bus supports this "natively").

Personally i don't have an issue with having different constructor properties per implementation as long as the exposed implementation (`IQueue<T>`) works the same. If we were to implement this across the board, it wo

[2016-04-27 17:55] niemyjski commented on #39
Thanks for the pr!

[2016-04-27 17:55] #39 closed

[2016-04-27 22:43] niemyjski commented on #36
This has been fixed in master and will be released via nuget shortly

[2016-04-27 22:43] #36 closed

[2016-04-27 22:44] niemyjski commented on #25
This has been fixed in master and will be released via nuget shortly

[2016-04-27 22:44] #25 closed

[2016-04-28 08:55] jamie94bc opened #43 "Race condition in Azure Service Bus queue"
As mentioned by @moswald in #38 ...

1. In parallel, Thread A calls `EnqueueAsync()` and Thread B calls `DeleteQueueAsync()`
2. Thread A passes through `EnsureQueueCreatedAsync()`, ensuring `_queueClient` is not null
3. Thread B deletes the queue, setting `_queueClient` to null
4. Thread A tries to use `_queueCleint` which is now null

There's not really a nice way to handle this without locking.

[2016-04-28 18:30] niemyjski commented on #43
Could use the new `?` null check keyword which will help prevent against this too. I'm trying to think of a scenario when you would ever want to delete a queue..

[2016-04-28 19:10] jamie94bc commented on #43
@niemyjski yeah I'm with you on that. I'd rather replace `DeleteQueueAsync()`

[2016-04-28 19:11] jamie94bc commented on #43
`?` would silently fail, which wouldn't be fantastic behavior!

[2016-06-10 17:37] moswald opened #45 "Race condition in AzureServiceBusQueue when multiple processes are creating the same queue"
Right now, `EnsureQueueCreatedAsync` will check if the queue exists, and then if not, it will try to create it. If another process creates the queue in-between these two calls, then the create fails with a `MessagingEntityAlreadyExistsException`. This is caught and handled and works fine.

However, there's a catch - if another process is _currently creating_ the queue, then it will fail with `Mess

[2016-06-13 18:33] moswald commented on #45
Fixed by #46

[2016-06-13 18:33] #45 closed

[2016-06-20 13:01] niemyjski commented on #43
Is this still an issue?

[2016-06-20 13:02] niemyjski commented on #19
https://github.com/exceptionless/Foundatio.Repositories/issues/1

[2016-06-20 13:02] #19 closed

[2016-06-20 13:03] niemyjski commented on #17
https://github.com/exceptionless/Foundatio.Repositories/issues/2

[2016-06-20 13:03] #17 closed

[2016-06-20 13:16] jamie94bc commented on #43
Yeah - it's different from #45 (another race condition in `AzureServiceBusQueue`)

[2016-06-20 14:42] moswald commented on #43
It is an issue, but I don't know if it can be solved without using locks everywhere. I think the "correct" solution is to document that it's a dangerous method and shouldn't be used in multi-threaded environments. Once one part of your application determines the queue should be deleted, the rest of the application should be halted.

[2016-06-24 22:08] #10 closed

[2016-06-24 22:09] niemyjski commented on #10
Support for core clr is now in the master branch :)

[2016-09-21 13:02] tgiachi opened #64 "NuGet Package Error"
Hi all!,
I'm trying to install package on project with .NET 4.5.2. and when

[code]

I've this error
[code]

Why?

[2016-09-21 13:08] tgiachi commented on #64
My fault, requirement is 4.6! sorry!

[2016-09-21 13:49] niemyjski commented on #64
No problem! We moved to 4.6 as there are issues you can run into on 4.5 when using async/await :)

[2016-09-21 13:49] #64 closed

[2016-09-21 18:59] lynnroth opened #65 "Using Fondatio with .net 4.5.2"
I'm looking to be able to use some of the great functionality that I just found in the Foundatio library.

However, we have an application that we currently support on .net 4.5.2.  It seems that a few months ago there was a change that Foundatio only supports 4.6 and later.

Is my only choice to use v4.1?  Any plans to backport fixes to this branch for people who can't move ahead to 4.6 at this ti

[2016-09-21 19:34] niemyjski commented on #65
At the time it was brought to our attention by @StephenCleary that it's best to be on .NET 4.6 due to some async / await issues (https://github.com/StephenCleary/AsyncEx/issues/48) that could arise. For that reason and the fact that we feel that any new project that would be starting out would be on 4.6 we changed it from 4.5.2 to 4.6.

Is there any reason you cannot move to 4.6?

[2016-09-21 19:34] niemyjski commented on #65
cc @ejsmith

[2016-09-21 19:38] lynnroth commented on #65
We share core code between our Windows application and our web applications.  So, in order to update, we have to get all the customer systems updated to 4.6 prior to the switchover.

It's not that we can't move to 4.6, but we have to give our customers time to get it installed on all of their systems.

This may be enough of a reason, but we are currently evaluating.

I'm primarily looking at the R

[2016-09-21 20:28] ejsmith commented on #65
I am fine with us supporting 4.5 as a platform target. @lynnroth would you mind submitting a PR?

[2016-09-22 11:34] lynnroth commented on #65
I'll discuss with the team on our timing of going to 4.6.  If it is soon, we can leverage the 4.1 version of Foundatio until we can get to 4.6.

[2016-09-22 12:27] lynnroth commented on #65
So, I started looking at adding 452 support back in .  I believe that this commit (at least) took away an easy way of getting back to 4.5
https://github.com/exceptionless/Foundatio/commit/549a044e01dc3285aa27dca3fa95d83a6d635719

If that isn't the case, please let me know.

Given that, and that we should be able to move fairly quickly to 4.6, I believe we will use 4.1 until we can get the framewor

[2016-09-22 13:58] niemyjski commented on #65
Yeah, that probably would be one of the only major things that would need to changed. I'm going to close this for now, unless you want to take a stab at a pr then please reference this issue. If there is anything we can help you with please let us know.

[2016-09-22 13:58] #65 closed

[2016-09-22 13:59] niemyjski commented on #65
Also, please feel free to check out our slack channel: http://slack.exceptionless.com

[2016-09-23 07:58] capqueen opened #67 "will it support log4net?"
I use log4net in my project, so I wonder if Foundatio.Loggging will have a log4net appder?

[2016-09-23 13:54] niemyjski commented on #67
Currently we only have one written for nlog (as that's what we use for our projects internally).  We'd be willing to accept a pull request for this.  I'm going to close this but we would be more than happy to accept a pr for this.

Here is a link to our nlog target: https://github.com/exceptionless/Foundatio/tree/master/src/Foundatio.Logging.NLog

[2016-09-23 13:54] #67 closed

[2016-09-23 22:36] niemyjski commented on #43
@moswald would you mind updating the docs for this?

[2016-09-23 22:36] niemyjski commented on #34
@send2vinnie would you mind creating a pr for this?

[2016-09-23 22:37] niemyjski commented on #31
@ytkaczyk we moved to the new project format. Is there any chance you could submit a pr for this?

[2016-09-23 22:37] niemyjski commented on #26
@jamie94bc we made major improvements to lock renewal. Is this still an issue?

[2016-09-23 22:40] niemyjski commented on #12
@chrispauly did you end up going with the message bus approach? After rereading all of this it seems like that is what you were wanting to use. Is this correct? If not please let us know. Also, please feel free to close this issue if you feel this use case is solved.

[2016-09-23 22:41] niemyjski commented on #8
@ejsmith We'll we already have remove by prefix and set support. Should we close this issue?

[2016-09-23 22:41] niemyjski commented on #6
@ejsmith status on this issue?

[2016-09-24 03:02] chrispauly commented on #12
Oh, I never did anything with this.  It was just an idea I had after you presented at the MadDotNet meeting last year.  I really liked this collection and just thought that Eventing was something that I leverage in many apps I built and thought it would fit right into a foundational collection.  I've changed jobs since last year and haven't written any new custom apps that could use these objects,

[2016-09-24 03:02] #12 closed

[2016-10-12 07:30] dpvreony opened #71 "Support for on premise WindowsServer Service Bus"
Hi

We have a need to support https://www.nuget.org/packages/ServiceBus.v1_1/ I have done a fork (https://github.com/exceptionless/Foundatio/compare/master...dpvreony-forks:master), it's pretty much a carbon copy of the existing Azure project. I can raise a PR if you're happy.

Thanks

[2016-10-12 07:35] dpvreony opened #72 "Enqueue with MessageId"
Hi

We have a scenario where we need to support duplicate detection for messages being enqueued which is done by messageid https://msdn.microsoft.com/library/azure/microsoft.servicebus.messaging.brokeredmessage.messageid.aspx

I've done the basics in a fork (https://github.com/dpvreony-forks/Foundatio/commit/50f18ce8d65a2f026d14fd4b276e3b7bbad51052) but it is currently off the back of #71

Thanks

[2016-10-13 13:41] ejsmith commented on #71
I think they are discontinuing this product, no?

[2016-10-13 13:44] niemyjski commented on #71
As long as it's a supported product (looks like the last update was last year, wonder if there are updates in server 16) and there are tests for it and we can test it on appveyor I think we'd be more than happy to accept a pr for it.

[2016-10-13 13:47] niemyjski commented on #72
What are your plans for supporting dedup on the message bus? Would it be something built in to foundatio or just relying on existing service bus implementations (that may have it) I think this would be really nice to have.

I think we may want to do some more research on our model in general and add this field and maybe others. Would you mind taking a look at some of the popular message buses and

[2016-11-04 08:55] cuibty opened #73 "How to declare rabbitmq hostname"

[2016-11-04 12:03] niemyjski commented on #73
@barkhashah I don't see this as part of the sample so I'm assuming it's local host. Do we need to add a parameter for this??

[2016-11-04 19:47] barkhashah commented on #73
Hey Blake
Sorry for the late reply. Thats a good point you brought up. I think this went unnoticed but currently library is assuming localhost as a place where the endpoint ( rabbitmq server ) is. We should have passed that as a parameter in the constructor and use it as an argument to Endpoint in the ConnectionFactory or use the uri.

[2016-11-04 19:55] barkhashah commented on #73
Argument needs to be passed in this method:
        private IConnection CreateConnection() {
            IConnectionFactory factory = new ConnectionFactory();
            factory.UserName = _userName;
            factory.Password = _password;
            return factory.CreateConnection();
        }

factory.CreateConnection should take the array of endpoint

[2016-11-04 20:03] niemyjski commented on #73
@cuibty / @barkhashah any chance we could get a pr for this :)?

[2016-11-04 20:14] barkhashah commented on #73
:)... Its easy but I would have to ask my program manager if i can put some time on it . I started to work on this because we had a need for it and then just when i was done requirement changed and we are no longer working on any project that uses rabbitmq. Can @cuibty  spend some time? :)

[2016-11-04 20:31] barkhashah commented on #73
@cuibty - Please let me know if you have any bandwidth else I can take this up during the weekend.

[2016-11-18 12:56] dpvreony commented on #72
Apologies I've been a bit busy. I have done some pieces around how we're using duplicate detection and options for implementation in something like foundatio. I will try and get something written up ASAP.

Regards

[2016-11-21 12:00] niemyjski commented on #72
Thanks for the head up, we appreciate it.

[2016-11-21 12:01] niemyjski commented on #73
@cuibty @barkhashah Any updates on this? I can add it to my list but would like to involve the community as much as possible :)

[2016-11-30 07:07] SukharevAndrey opened #74 "Add integration with Microsoft's logging system"
https://docs.microsoft.com/en-us/aspnet/core/fundamentals/logging
Microsoft is using their simple standardized and expandable logging library - https://github.com/aspnet/Logging.
It would be great if you implement some sort of integration between Foundatio's logging library and Microsoft's one to see foundatio log messages in unified way.

[2016-11-30 16:18] niemyjski commented on #74
We'd love to have an integration for this, would you mind submitting a pr for this?

[2017-01-24 17:14] niemyjski opened #75 "Log work item data in error messages so we can capture that metadata."
We need to find a good way to log the work item data when a work item fails

[2017-01-24 17:14] niemyjski opened #76 "Send work item failed progress messages"
We don't send a progress message when a work item fails. What should the status be?

[2017-02-05 15:00] niemyjski commented on #73
Sorry for taking so long to add this functionality. I've just published a patch for this.

[2017-02-05 15:00] #73 closed

[2017-02-05 15:09] niemyjski commented on #72
@dpvreony @ejsmith is this something we still need? Will it open up any other scenarios like maybe dedup?

[2017-02-05 15:15] niemyjski commented on #71
It looks like it is dead but will live on as part of the on premise Azure Stack. I'd like to include support for this, but not sure how much sense it makes maintaining this when the project is officially dead as of next year. Do you have plans on moving to the azure stack? It would be great to have a basic service bus client that supports amqp :) or even a more targeted one towards the azure stack

[2017-02-05 15:15] #71 closed

[2017-02-05 15:18] niemyjski commented on #31
@ytkaczyk we've officially have updated to the new cs proj format, would you be interested in adding a pr for this. I'm going to close this but feel free to reopen it with a pr or if additional people request it will change the priority.

[2017-02-05 15:18] #31 closed

[2017-02-05 15:21] ejsmith commented on #71
The new client they are working on for .net core is an AMQP client. That is what we should work on.

[2017-02-06 08:31] jamie94bc commented on #76
If we were to stick with the current `WorkItemStatus` model then I think setting the integer `Progress` property to `-1` with an appropriate message would be clear enough.

[2017-02-06 13:47] niemyjski commented on #76
@jamie94bc good point :)

[2017-02-07 16:54] niemyjski opened #80 "Add storage unit test that tries and gets GetFileInfoAsync on file that doesn't exist"

[2017-02-07 16:55] niemyjski commented on #80
While doing this add xml attributes to file info (We need to know if size is in bytes, KB, etc..

[2017-02-08 00:30] #80 closed

[2017-02-22 18:14] niemyjski opened #83 "Look into using a AsyncSemaphore for queues as it would be much more efficient"
https://github.com/StephenCleary/AsyncEx/blob/master/src/Nito.AsyncEx.Coordination/AsyncSemaphore.cs

[2017-03-12 20:01] #83 closed

[2017-03-23 18:08] SeanFeldman opened #90 "ASB MessageBus completes a poisonous message rather than DLQ it."
When `AzureServiceBusMessageBus` receives a poisonous message, it [completes it](https://github.com/exceptionless/Foundatio/blob/d2967a1f56d8d3fa31cc194bc260561f153e2ac1/src/Foundatio.AzureServiceBus/Messaging/AzureServiceBusMessageBus.cs#L44) with a log entry. ASB supports deadletter queues. Poisonous messages should be forwarded to the DLQ rather being completed.

[2017-03-23 18:09] SeanFeldman commented on #90
I can submit a PR, but not sure if there's a test case that already covers this or not.

[2017-03-23 18:28] niemyjski commented on #90
@SeanFeldman Would it be better to just move the current message to deadletter queue on error instead of submitting the log message?

[2017-03-23 18:29] niemyjski commented on #90
I also have a massive amount of changes in the cloud watch branch (where we've been standardizing mb and queue creation.

[2017-03-23 18:32] SeanFeldman commented on #90
@niemyjski log entry was in the original code. It makes sense to write a log to allow monitoring to detect that things went wrong. Perhaps lowering threshold from Error to a Warning.

[2017-03-23 18:33] niemyjski commented on #90
Thanks, I'll take a look into this :) Is there any chance you could update your pr to the cloud watch branch as I'm going to have merge conflicts as is :)

[2017-03-23 18:48] SeanFeldman commented on #90
Done

[2017-03-23 19:14] niemyjski commented on #90
Thanks! I'll play around with this, it would be good to have serialization tests for all our on message implementations. Guess we'll add that to the todo :)

[2017-03-23 19:14] #90 closed

[2017-03-29 10:14] jsancho opened #93 "Do you have any plans to introduce support for AWS SQS/SNS?"
Just like there's storage support for Azure Blob and S3, it would be quite nice to have the opportunity to be cloud-agnostic in what regards to Queues.

[2017-03-29 11:12] jamie94bc commented on #93
We did have a PR for SQS which was merged https://github.com/exceptionless/Foundatio/pull/85, but the target branch (release/5.1.0) seems to have disappeared, @niemyjski?

[2017-03-29 12:57] niemyjski commented on #93
We are working on SQS queues and Cloudwatch metrics in the cloud watch branch, we have a few apps that will be using both of these in production and they are available in our nightly nuget feed on myget: https://www.myget.org/gallery/exceptionless We currently don't have support for SQS/SNS but would be more than happy to accept a pr for this :)

[2017-03-29 15:16] jsancho commented on #93
sorry, getting a bit confused.
You mean that you are adding SQS support on a feature branch for now, but that SNS is not in the horizon? Hence, why you wouldn't mind welcoming a PR?

[2017-03-29 15:19] ejsmith commented on #93
We have the SQS queue implementation working pretty well now. We have a couple apps using it. I would love to see a pull request for supporting SNS. I think SNS would be a IMessageBus implementation, correct?

[2017-03-31 08:42] jsancho commented on #93
Our most urgent need here is to integrate with SQS, so that's actually great news.
SNS is not far on the horizon though, so if I can get things to work with our setup.
I don't see why we couldn't help out with the SNS implementation 👍

[2017-04-06 14:02] Romanx opened #94 "MessageBus Subscriptions"
Hey,

Great foundations here. I'd be tempted to use this for a project i'm working on (which currently just uses the standard ServiceBus nuget) however we're using the Topics and Subscription functionality.

The `AzureServiceBusMessageBus` implementation uses the subscription to determine the channel to push to the multiple subscribers however there doesn't seem to be a way to listen to individual

[2017-04-06 15:24] brutaldev commented on #72
Duplicate detection in the Azure Service bus is very important to me as well. We've built a very similar set of core libraries for queuing, logging, caching etc and want to switch over to Foundatio specifically for the non-Azure support. Using MessageId is a critical blocker right now as well as bulk messaging which I'll open another case for. There is currently no ability to optimize the settings

[2017-04-06 15:58] brutaldev opened #95 "Feature - Bulk Messaging"
The current implementations of messaging use message pumps with callbacks which is not as efficient as bulk requesting in some circumstances. High volume scenarios should be bulk fetching to reduce costs as well since you are charged per request.

Publish and subscribe should ideally have corresponding bulk overload/versions as well.

[2017-04-10 13:34] niemyjski commented on #94
If I understand you correctly you can do this today (we'll at least in the cloud watch branch). So we provide a Topic name that you can set and when you call subscribe we'll only listen on that single subscription to that topic.  Out of the box, we'll create random subscription names to the same topic, but if you manually specify the topic name we should respect that. Is that what you are looking

[2017-04-10 13:37] niemyjski commented on #95
Yes, queues also need bulk actions. Would you be willing to submit a pr / have a discussion on this? Ideally the interfaces would just have the bulk implementations and then we have overloads that just call into the bulk versions.  I think one of the issues with bulk receiving is we have a greater chance of losing messages from the brokers if we go down with our configuration we use now (we prefer

[2017-04-10 13:40] niemyjski commented on #72
@brutaldev we'd love a pull request for this (please use the cloudwatch branch until we merge it in). I've added a bunch of fixes and settings for those options in the cloud watch branch. We just need a reliable way to create unique message ids.  If you have ideas on this, let us know. We can take a stab at this in one of them and support the others like rabbitmq later.

[2017-04-10 13:42] ejsmith commented on #95
We definitely want batch dequeue as well. That is why we have queue message locks and timeouts.

[2017-04-10 13:48] brutaldev commented on #72
@niemyjski The developer would need to set the message ID manually to something they deem to be "unique" in their system and it gets ignored for the configured amount of time. I would see it as an error if the message ID is not set when the queue/topic has duplicate detection enabled. This leaves it up to the developer to generate a random ID if they want to ignore the duplicate detection they hav

[2017-04-10 13:56] ejsmith commented on #72
This would be super easy to implement using our throttling lock provider.

[2017-04-10 14:16] niemyjski commented on #72
I think we could keep it pretty simple too, you could just have an interface marker that has message id on it and we could just look at the model you are passing in and get the message id from that, you could go a step further and just mark that field to not be serialized with an attribute so you don't take the payload hit :)

[2017-04-10 14:44] ejsmith commented on #72
Queue entries already support metadata. I wonder if we should expose the ability to enqueue those as well as the queue models themselves. Because ideally this would just be reading the information from that metadata.

[2017-04-11 21:29] Romanx commented on #94
Hi @niemyjski that does seem exactly what i'm looking for. I hadn't looked anywhere but master. Feel free to close this and i'll have a play when it gets merged into master and feedback any problems I find

[2017-04-12 13:48] niemyjski commented on #94
If you add our nightly feed (http://myget.org/gallery/exceptionless) you can get access to this code. If you set the `SubscriptionName` options setting then we'll only listen on that subscription name, otherwise we'll use a random subscription id and fanout :) If this doesn't help please let me know and we'll reopen this issue.

[2017-04-12 13:48] #94 closed

[2017-06-18 13:02] rozifus opened #96 "Error in documentation, JobRunContext should be JobContext"
It looks like in the Job sample in the documentation
https://github.com/FoundatioFx/Foundatio#sample-4

The parameter to RunInternalAsync should be of type JobContext to match
https://github.com/FoundatioFx/Foundatio/blob/master/src/Foundatio/Jobs/JobBase.cs

[2017-06-20 12:53] niemyjski commented on #96
Would you mind submitting a pr for this :)?

[2017-06-23 16:00] rozifus commented on #96
Sure thing :)

[2017-06-23 16:39] rozifus commented on #96
P
#97

[2017-06-23 17:18] niemyjski commented on #96
Thank you!!!!

[2017-06-23 17:18] #96 closed

[2017-06-27 14:08] ejsmith commented on #93
I'm closing this as we have SQS support now. If you want to add a request for SNS separately or even better submit a PR that would be great!

[2017-06-27 14:08] #93 closed

[2017-06-27 14:12] ejsmith commented on #24
Closing this as it has been implemented now.

https://github.com/FoundatioFx/Foundatio/blob/master/src/Foundatio/Queues/InMemoryQueue.cs#L160
https://github.com/FoundatioFx/Foundatio.Redis/blob/master/src/Foundatio.Redis/Queues/RedisQueue.cs#L287

[2017-06-27 14:12] #24 closed

[2017-06-27 14:13] ejsmith commented on #34
Going to close this as we don't have any plans to implement this currently. Would still love to see a PR if you are interested in implementing it.

[2017-06-27 14:13] #34 closed

[2017-07-10 16:03] ytkaczyk opened #99 "Create strong named nuget packages"
Would it be possible for you to publish strong named nuget packages which foundation depdending on strong named/signed package when they are available, for instance StackExchange.Redis.StrongName. This would be helpful for using Foundation along other packages such as SignalR.Redis.

I hope you will consider doing this.

[2017-07-10 16:05] niemyjski commented on #99
We'd be more than happy to accept a pr which updates foundatio packages to be strong named.

@ejsmith should we create a new key or reuse https://github.com/exceptionless/Exceptionless.Net/blob/master/src/Exceptionless.snk

[2017-07-13 21:05] ytkaczyk commented on #99
Thank you. We will look into doing this in the near future and let you know.

[2017-09-19 05:06] jlanning opened #108 "Inconsistent stream handling on IFileStorage.SaveFile() implementations"
The FolderFileStorage class calls  stream.Seek(0, SeekOrigin.Begin)  on the passed stream before copying the contents to the file stream.  While this might be convenient (in some cases), it is inconsistent with the other implementations of IFileStream (InMemoryStream and AzureFileStream).  And it seems presumptive to assume the caller did not positioned the stream correctly for the save operation

[2017-09-19 12:38] niemyjski commented on #108
I can't remember why we did this, do all the tests pass if you remove the seek? If so, would you mind submitting a pr for this.

[2017-09-19 13:28] ejsmith commented on #108
Yeah, I agree. The Seek's should not be in there.

[2017-09-20 13:13] niemyjski commented on #99
This was merged in! Thanks for the PR

[2017-09-20 13:13] #99 closed

[2017-09-26 20:57] ytkaczyk commented on #99
You are welcome. We are glad we could contribute.

[2017-11-24 01:30] edwardmeng opened #110 "Support Aliyun OSS storage"
Recently when deploying exceptionless, in order to improve the scale out ability, we want to make use of cloud storage. Currently the Foundatio only support windows azure, but the Aliyun is with higher efficiency in China.
When we want to request pr to implement the adapter between Foundation and Aliyun OSS, there is no project for this purpose, and we don't know how to request pr for it.

[2017-11-24 01:37] niemyjski commented on #110
Perhaps we should create a Foundatio.Alibaba project? Is there an easy way to test against there api?

[2017-11-24 06:12] edwardmeng commented on #110
Could you please create the project? And then I can request pr.
There is free trial for developers for 6 months in aliyun.
https://intl.aliyun.com/campaign/free-trial?spm=5176.7973419.765261.8.6c8d8dda43WG0r

[2017-11-27 13:50] niemyjski commented on #110
The repo has been created so I'm closing this issue. We need to update the readme in this repo once we get the integration done :)

[2017-11-27 13:50] #110 closed

[2017-12-14 03:54] ccccccmd opened #112 "How can i use Foundatio.Lock?"
It's like this ?

somecode  to get lockprovider

       var rediscco = new RedisCacheClientOptions() { ConnectionMultiplexer = muxer };

     _lockProvider = new CacheLockProvider(new RedisCacheClient(rediscco), new RedisMessageBus(new RedisMessageBusOptions() { Subscriber = rediscco.ConnectionMultiplexer.GetSubscriber() }));

some code to get lock

     public static  async Task<ILock> AcquireAsy

[2017-12-14 12:37] niemyjski commented on #112
That looks right, are you seeing some kind of issue?

[2017-12-15 05:05] ccccccmd commented on #112
i find this project:
[https://github.com/IvanZheng/IFramework/tree/master/Src/iFramework.Plugins/IFramework.FoundatioLock](IFramework)

by the way,
two mechines have two  singleton  lockproviders,will it  lead to problems?

[2017-12-15 14:05] niemyjski commented on #112
I suppose it could if you are locking on the same key inside of each other but I'm not sure without trying it. If you have a sample that can show off an issue that would be greatly appreciated.

[2017-12-22 10:06] IvanZheng commented on #112
@ccccccmd IFramework.FoundatioLock is only used for single process, because it's in memory lock based on Foundatio. If you want to use for distributed system, you should use IFramework.FoundatioLockRedis which is based on Foundatio.Redis.

[2017-12-22 13:00] niemyjski commented on #112
I'm going to close this issue, if you have any questions, please let us know.

[2017-12-22 13:00] #112 closed

[2018-01-03 02:51] edwardmeng opened #114 "Replace Metrics.Net with AppMetrics"
The library Metrics.Net is only available for netfx and only can be deployed on windows servers. But the Foundatio currently supports netstandard 2.0, the Metrics.Net should be replaced with AppMetrics which supports netstandard, so that we can deployed on linux or unix.

[2018-01-03 03:29] ejsmith commented on #114
@edwardmeng I agree. I have been wanting to make some changes to the Foundatio metrics contract to allow adding tags/dimensions to metrics and I also wanted to create an AppMetrics implementation as well.

[2018-01-03 03:31] niemyjski commented on #114
They are working on a metrics.net net standard implementation and it was user contribed (on a side note). I also agree with the both of you but against removing metrics.net :)

[2018-01-03 03:31] ejsmith commented on #114
Wouldn't remove it. Would just add another implementation.

[2018-01-05 02:29] edwardmeng commented on #114
@ejsmith I am wondering how to support tags/dimensions for statsd implementation. As I know the statsd does not support it be default.

[2018-01-08 15:31] ejsmith commented on #114
Sorry for the late reply @edwardmeng. Yeah, there are some implementations that would not be able to to support tagging/dimensions. So those would just be ignored. I am envisioning that we just add some methods to let you create scopes that contain the dimensions on them and they just return the normal IMetricsClient back so none of the core contract would change. It would just be a matter of addi

[2018-01-16 01:59] niemyjski commented on #108
We've fixed this issue :)

[2018-01-16 01:59] #108 closed

[2018-01-16 02:00] niemyjski commented on #74
We've completely adopted the Microsoft logging extensions in v6 (release notes incoming).

[2018-01-16 02:00] #74 closed

[2018-01-24 05:01] edwardmeng opened #118 "The MessagePackSerializer should add a optional parameter to determine whether compress the serialized data."
https://github.com/FoundatioFx/Foundatio/blob/14db27dd26f54ff63841629f115eac47b7d57b12/src/Foundatio/Serializer/MessagePackSerializer.cs

When the value of parameter 'compress' is set true, it should serialize/deserialize with `MessagePack.LZ4MessagePackSerializer.NonGeneric`, otherwise should use `MessagePack.MessagePackSerializer.NonGeneric`

[2018-01-24 13:07] niemyjski commented on #118
Can you please submit a pr for this (probably would be good to have a quick test for it as well.

[2018-02-02 00:49] #118 closed

[2018-04-02 07:09] cuibty opened #126 "RedisMessageBus there is no effect"
[code]

[2018-04-02 11:59] niemyjski commented on #126
What version of redis are you using? Are you using redis cluster support?

[2018-04-03 02:16] cuibty commented on #126
reids v3.2.100 windows

not use redis cluster

[2018-04-05 03:32] cuibty commented on #126
![snipaste_2018-04-05_11-32-34](https://user-images.githubusercontent.com/12811343/38346029-1429d1ae-38c5-11e8-9885-b74f883456ca.png)

[2018-04-05 13:58] niemyjski commented on #126
<img width="716" alt="image" src="https://user-images.githubusercontent.com/1020579/38370227-3b31bafc-38af-11e8-887b-5c2c47b33a37.png">

I'm not able to reproduce, are you waiting long enough for the message to be delivered? Can you please attach a sample console app that reproduces what you are seeing.

[2018-05-06 12:08] niemyjski commented on #126
I'm closing this to keep the issues clean as I haven't been able to reproduce. If you can attach a sample app that would be greatly appreciated!

[2018-05-06 12:08] #126 closed

[2018-06-05 09:39] etshei opened #128 "[Caching] GetAllByPrefix like method"
I'm trying to cache an ecommerce cart items using **InMemoryCacheClient** (dev) and in the future **RedisCacheClient**.
My key is in the form **S{sessionId}-V{productId}** and the value contains a CartItem object (quantity and other related data)
Adding and removing items are working great but i need to **retrieve all the items for a sessionId**.
I know the existance of using the Set but i needed

[2018-06-05 14:45] niemyjski commented on #128
I think you should be able to use a scoped cache client with the scope being the session id and then call GetAllAsync . I think this returns all items if no keys are passed in. Can you try this?

Couldn't you treat each set item as a line item or just store the whole cart object in cache and get it to update and set it again after incrementing the value?

[2018-06-08 00:33] etshei commented on #128
I've already checked the code for GetAllAsync and it creates a dictionary with the keys provided as params (doesn't get all if not provided)
I've come to create a cart object (as you've suggested) and that worked (i had some issues to use the cache with Castle Windsor DI, that are now gone).
In another side, is there a way to provide a **Sliding expiration mechanism** in the future (re-setting the

[2018-07-06 21:35] niemyjski commented on #128
My apologies for the late reply, did you end up finding a solution for this?

[2018-07-19 03:29] SkyvenXiong opened #129 "i want override some methods of messagebusbase"
in my case i both use java and .net ,in the messagebusbase class ,
field: _knownMessageTypesCache
method: GetMessageBodyType,SendMessageToSubscribers
in java the type is different from .net
so i want create an attribute in both java and .net ,use the _knownMessageTypesCache to mapping the type to class in java and to type in .net .

please change field protected and methods virtual,thanks

the cod

[2018-08-10 06:26] SkyvenXiong commented on #129
in the last version,there is a MessageTypeMappings can resolve my problem.tks

[2018-08-10 06:26] #129 closed

[2018-09-07 10:28] niemyjski commented on #128
@etshei were you able to find a solution for this?

[2018-09-21 09:46] SkyvenXiong opened #133 "InMemoryCacheClient can not get as object"
this is the unit test

[code]

in the CacheValue .GetValue method , you judge the T as object made this problem . i think you can delete this  judgement.
or what is your reason for that

[2018-09-21 12:04] niemyjski commented on #133
When ever you are doing a get of a reference type, we make a complete clone of the object and return it. So when you say `GetAsync<object>` you are getting a clone back. We do this because otherwise any changes you make to this object that was returned would also change the cached copy. Please let me know if you have any questions or this is not what you expected.

Were you thinking you'd get a co

[2018-10-05 06:46] peterrizk opened #134 "HybridCacheClient cstr -> InMemoryCacheClient max cachekeys hardcoded to 100 items"
Hi Guys,

Any reason why we can only have 100 keys in memory at once? Do you see any issues with overriding this number to be much larger in the future provided we increase the RAM appropriately?

Thanks in advance.
Peter.

[2018-10-05 11:41] niemyjski commented on #134
We kept it at 100 due to memory concerns, if you have the ram bump it up :)

[2018-10-05 11:41] #134 closed

[2018-10-17 01:27] SkyvenXiong commented on #133
you can copy the code and run this case .it is failed

[2018-10-17 01:51] SkyvenXiong commented on #133
it is caused by you the reason marked in picture below
![486f185c-6365-4d7f-aa94-6b4589a18c3f](https://user-images.githubusercontent.com/7077224/47056912-fe15d500-d1f0-11e8-9d31-d9a89c31da36.png)

if you want clone the object. you can support the ICloneable interface if the object implement it.
because if the object is poco do not have any refrence property.
the object 's root method "MemberwiseCl

[2018-10-20 13:13] niemyjski commented on #133
Would you mind doing a pr for this support as well as add the test. Currently we are using the DeepCloner library.. I wonder if there is something we can do to preserve the type.

[2018-10-24 11:13] SkyvenXiong commented on #133
you can copy the code i given at the first and run it in you test project. in my project ,has use you in memoryclient code  and  fixed this problem. only delete code in  the red box  in the picture

[2018-10-24 15:07] ejsmith commented on #133
The object is serialized and deserialized. We need to know what datatype to deserialize to. We could always wrap the data in an envelope with type information embedded into it, but not sure how I feel about that. Remember that you are just looking at the in memory implementation there are implementations in Redis and others as well that need to be taken into consideration.

[2018-11-15 09:00] iAgiler opened #135 "Feature - Adding shallow clone option to HybridCacheClient"
Per my performance testing about HybridCacheClient.GetAsync(), DeepClonerGenerator's performance is very poor. Is it possible to adding an option like CloneOption.Shallow into class HybridCacheClient and then can force it to use shallow clone?  Because in most scenarios, we just use plain objects rather than nested objects for cache.

Following is the performance testing details, I included other

[2018-11-15 19:54] niemyjski commented on #135
I'm guessing you can run these tests against just our in memory cache client and get more accurate results. We deep clone because we don't want references to be modified (cache entries should be immutable) and we don't know what kind of objects they will be. Do you know what the .net core memory cache is doing?

[2018-11-19 01:46] iAgiler commented on #135
I have tested InMemoryCacheClient, it is same as HybridCacheClient. For MemoryCache under namespace System.Runtime.Caching, it returns cached entry's reference. Between cache contaminated and performance, I would prefer performance, because I consider performance is cache's main purpose.

[2018-11-19 13:13] ejsmith commented on #135
Yeah, that makes sense. Maybe we should just make it an option then to turn the cloning completely off.

[2019-01-14 20:31] BlowaXD commented on #128
Hi,
I'm having the same problem, I tried to have a `HybridScopedCacheClient` but it does not retrieve any of my objects.

Objects are stored with the right prefix (the one I set in my code)
![image](https://user-images.githubusercontent.com/16936368/51139200-7cf7c980-1843-11e9-9f1d-d522d842eb05.png)

Here is my constructor, I think i'm using it fine
![image](https://user-images.githubusercontent.c

[2019-01-15 02:34] niemyjski commented on #128
Hello,

Can you please provide some more of your code with how you are calling to get the key starting with `f575`. If you do a getbyid does it work? Also are you connecting to the correct redis database instance?

We're doing over 16Million requests per hour with the Foundatio Redis cache client :). I'd first start out with just the RedisCacheClient (with Scoped) instead of the hybrid client (unl

[2019-01-15 08:41] BlowaXD commented on #128
Hi,

I totally forgot to share it yesterday.
Of course, this is some examples I already tried :
None of them worked :/
[code]

I took as look to the implementations, it looks like if you don't have any key provided, it won't return you anything.
https://github.com/FoundatioFx/Foundatio.Redis/blob/master/src/Foundatio.Redis/Cache/RedisCacheClient.cs#L122
https://github.com/FoundatioFx/Foundatio/blo

[2019-01-24 23:12] BlowaXD commented on #128
https://github.com/StackExchange/StackExchange.Redis/issues/1048#issuecomment-457373213
Following that suggestion I think it's a really clean way to do it (and does not require lot of code)

Should Foundatio provide something like that ? (It's already done in ServiceStack.Redis)

[2019-01-25 03:21] niemyjski commented on #128
Yes you are correct. Currently we only have GetAllBy(keys) but no prefix. One would need to iterate all the keys on the server which could be a massive operation (and memory intensive) / would need to hit every server in the cluster). @ejsmith thoughts on adding this? Seems like if we did this you'd want to do some kind of paging but even then I don't even know how you'd accomplish that effiencetl

[2019-01-25 03:31] ejsmith commented on #128
It’s not really possible to do it efficiently. It requires a brute force approach and in a Redis cluster it requires iterating through the servers and asking them each for all their keys. I think the best approach is to maintain a set list of cache keys as you are adding / removing them. Then you can call that to get a list of all cache keys within a “cache group”.

[2019-01-25 03:46] BlowaXD commented on #128
I personally made my own key cache (a simple set of existing keys) in my Foundatio wrapper but maybe this can be added inside the CacheClient to have a list of actual keys in the cache ?

[2019-01-25 03:54] niemyjski commented on #128
I'd recommend doing what you are doing (which sucks), perhaps storing them in a set? It's not going to be very efficient to pull this off any other way. We have tens of thousands of keys in our cluster at any point. We are already looking into ways to do remove by prefix more efficiently / work better in a cluster environment.  It would be nice to do this for say unit tests or small cache instance

[2019-01-25 03:55] ejsmith commented on #128
Yeah, I think it would be nice to be able to specify a cache group when you add or set a cache value and then be able to operations on them like delete by group.

[2019-03-16 18:32] prince272 opened #141 "Docs For Foundatio"
Hello,

Please are there docs for Foundatio. How to use it with Asp Core etc.

[2019-03-18 20:14] niemyjski commented on #141
Hello,

Is there anything specific feature you are looking to use? We have an ASP.NET Core application here (https://github.com/exceptionless/Exceptionless) that uses Foundatio extensively.

[2019-03-19 07:52] prince272 commented on #141
Hello,

Oh no. I will take a look at the Exceptionless app. Thanks for your assistance.

[2019-03-26 17:37] niemyjski commented on #141
Hello,

1. I'd recommend taking a look at our readme / tests for more on usage. If you have a specific question on usage let me know.
2. I'd cache anything that is expensive to call or is prone to failure. There are a lot of best practices guides on caching.
3. I'd scope it based on resource and unique id like `user:user_id_here`.

[2019-03-27 21:59] prince272 commented on #141
Thank you so much for your responds. I'll take note on that.

On Tue, Mar 26, 2019 at 10:37 AM Blake Niemyjski <notifications@github.com>
wrote:

[2019-03-27 22:03] prince272 commented on #141
I really like this part: "*cache anything that is expensive to call or is
prone to failure."*

On Wed, Mar 27, 2019 at 3:00 PM Prince Owusu <princeowusu.272@gmail.com>
wrote:

[2019-03-28 11:14] #141 closed

[2019-04-10 20:52] lefig opened #142 "Question: How to deque or remove item from Redis queue?"
Hi there,

I have been studying the Redis queue examples and can see where and how items are queued. But I am struggling to find some code sample showing item removal. I tried calling dequeueasync but this doesnt seem to work.

I would appreciate any help or thoughts.

[2019-04-11 12:57] niemyjski commented on #142
When you call Dequeue it calls the following implementation which grabs the item from the redis queue (https://github.com/FoundatioFx/Foundatio.Redis/blob/master/src/Foundatio.Redis/Queues/RedisQueue.cs#L220 and https://github.com/FoundatioFx/Foundatio.Redis/blob/master/src/Foundatio.Redis/Queues/RedisQueue.cs#L325) which pops an item off a list. Then when you call complete (https://github.com/Fou

[2019-04-11 12:57] #142 closed

[2019-04-24 01:15] Gomez12 opened #143 "Example for Work Item Job not working?"
I am having trouble with the Work Item Job example.

On the following line :
`new JobRunner(container.GetRequiredService<WorkItemJob>(), instanceCount: 2).RunInBackground();`
It complains that no service type WorkItemJob has been registered.
And that is correct, because in the rest of the example I also don't see it being registered.

But I also don't understand what to register.

For additional i

[2019-04-24 10:32] lefig opened #144 "Q: System.Threading.Tasks.TaskCanceledException being thrown by job queue"
Hi there,

I have a question after running the Redis sample - both the queue client and job. This works btw. But what I do see are regular System.Threading.Tasks.TaskCanceledException debug messages being displayed every second or so.

These are generated here in TaskQueue :

private void StartWorking() {
            bool isTraceLogLevelEnabled = _logger.IsEnabled(LogLevel.Trace);
            if (

[2019-04-24 13:42] Gomez12 commented on #144
To avoid this as a best practice i would say : Don't log at trace level...

Trace is the lowest bare bone level, where you want to get almost everything the code is doing.

[2019-04-24 13:51] niemyjski commented on #143
You need to register your work item job as well as work item handlers as shown here: https://github.com/FoundatioFx/Foundatio#sample-6  We may need to update the example to register the work item job. https://github.com/exceptionless/Exceptionless/blob/49c2e943830184e63941c0dfdc4c79a62ba9af05/src/Exceptionless.Core/Bootstrapper.cs#L167 Would you mind doing a pr for this. Does this help?

[2019-04-24 13:51] #143 closed

[2019-04-24 13:53] niemyjski commented on #144
Can you try this in the latest release as we got rid of the task queue and let us know if you are still seeing this. We log at the trace level because we want to see everything being outputted (e.g., tracing). In our development environments we log at the debug/info level and prod at the warn/info. Tracing should be for diagnostic purposes.

[2019-04-24 18:24] lefig commented on #144
Sure thing. Will do.

Much obliged for the help.

[2019-04-25 03:41] niemyjski commented on #144
Did updating resolve this issue?

[2019-04-25 08:34] lefig commented on #144
No, I tried the latest (master) and version 8.0 releases. The exceptions are being thrown every 10 secs or so at RedisQueue.cs:
protected override async Task<IQueueEntry<T>> DequeueImplAsync(CancellationToken linkedCancellationToken) {
            bool isTraceLogLevelEnabled = _logger.IsEnabled(LogLevel.Trace);
            if (isTraceLogLevelEnabled) _logger.LogTrace("Queue {Name} dequeuing item..

[2019-04-25 13:09] niemyjski commented on #144
Yes that is normal for it to be thrown and caught when there is nothing in the queue. But it shouldn't be blowing up inside of you application. Are you seeing that you are just seeing it logged or are you seeing it caught in your app? Is it a debugger setting like first chance exceptions?

[2019-04-25 18:36] lefig commented on #144
Thank you for coming back to me. Yes, I noticed the stream of exception messages in the debug view and I have changed the exception settings to not break when the exception is thrown. Much appreciated:)

[2019-05-02 11:54] lefig commented on #144
I have closed the issue although usually I would expect to see exceptions only in undefined behaviour as opposed to just having an empty queue. Thanks

[2019-05-02 11:54] #144 closed

[2019-05-02 13:25] niemyjski commented on #144
I'm not aware of any better way to do this, if you have a way or anyone else reading this we are always listening and open to improvements. This code above has a timeout of 10 seconds that it will cause the reset event to throw, we do this because otherwise we might get into some crazy situation and deadlock. I feel it's better to wait for a period of time and self heal.

[2019-05-02 13:32] niemyjski commented on #135
Where do we stand on this, from reading this it seems like we should add an option to the hybrid cache client. @iAgiler would you mind submitting a pr for this.

[2019-05-02 16:04] lefig opened #146 "Q: Queue job processor ProcessQueueEntryAsync"
Hi there,

I would really appreciate asking a couple of questions about this great project.

We are using the Redis queue implementation and during debug sessions I notice that  ProcessQueueEntryAsync continues to receive queue items for processing. The method returns JobResult.Success and I would expect that this item is removed from the processing queue. But every couple of seconds the same item

[2019-05-02 20:52] niemyjski commented on #146
It should only be received once unless it gets abandoned, then it will be retried at a later time. If you could provide more information / sample or test that would be greatly appreciated. Abandoned means it could not be processed and it will be retried X times until it gets moved to dead letter. The queue lock is a specific key, I'd need to look at the Redis implementation to give you more inform

[2019-05-04 09:57] lefig commented on #146
Thank you for the most kind offer of help. I need to investigate this further. Unfortunately I cleared the error logs. But I think that the problem was probably related to the debug session. The architecture of our application is complicated by the fact that we use reflection to load a client dll and this fails when injecting the stackexchange redis library due missing dependencies. So we host the

[2019-05-09 15:54] niemyjski commented on #146
I like how the exceptionless app loads our dependencies (https://github.com/exceptionless/Exceptionless) we used to use reflection now we only call it from entry points. I'm going to close this issue and we'll reopen it if more information is provided on how to reproduce the issue.

[2019-05-09 15:54] #146 closed

[2019-05-26 15:35] TechInterMezzo opened #148 "Schedule Jobs?"
This is a question or maybe a feature request.

Is it possible to schedule jobs?
This would include recurring jobs and jobs that run only once at a specified time.

[2019-05-27 03:39] ejsmith commented on #148
You can do CRON jobs. Take a look at this: https://github.com/FoundatioFx/Foundatio/blob/master/samples/Foundatio.HostingSample/Program.cs#L68

[2019-05-27 05:28] TechInterMezzo commented on #148
Thank you for the fast answer.
That is all I need.

[2019-05-27 05:28] #148 closed

[2019-05-31 14:45] niemyjski opened #149 "Queues should support Delayed message delivery"
As part of unified messaging changes, we should support delayed message delivery.

[2019-05-31 14:57] ejsmith commented on #149
This is already part of that design.

[2019-05-31 14:57] #149 closed

[2019-06-12 15:46] frabe1579 opened #150 "Add Nito.AsyncEx dependency"
Now that Nito.AsyncEx has a stable release (5.0.0), I think is a good idea to remove old code and add a dependency to the original NuGet packages.

[2019-06-12 19:59] niemyjski commented on #150
I'd rather keep dependencies like this that rarely change and are super small internal. We've also had lots of versioning issues with this package too :\. Would you mind doing a pr for updating this via source import?

[2019-06-12 20:10] ejsmith commented on #150
Yeah, we should update the source.

[2019-06-13 09:48] frabe1579 commented on #150
Ok i've cloned the repo, update the code and added Nito.AsyncEx.Coordination as dependency. Everything is ok, all test run (that ones I can run) successfully but there is the omnipresent problem: all Nito.AsyncEx assemblies does not have a strong name. I've read some issues discussing that on Nito.AsyncEx repo, and there is no plan (and maybe no hope) to get strong named assemblies from original s

[2019-06-13 12:01] niemyjski commented on #150
We should be importing the source code (clone, copy to folder, change namespace if required, make classes internal), so there would be no dependencies or csproj changes. I thought we have a script for this but maybe not.

[2019-07-25 19:04] tboeker opened #151 "Different Message Type in Queue with same name"
I have two different command types and want to push them into the same queue. i created a QueueFactory which returns an IQueue<T>.  if i use the same queue name for both command types, the handler doesn't work as i would expect. have a look at the sample code:

`
 using System;
using System.Threading.Tasks;
using Foundatio.Queues;
using StackExchange.Redis;

namespace Sample
{
    internal class P

[2019-07-28 12:57] niemyjski commented on #151
Your log message in both has handler1 does this make a difference? ` Console.WriteLine($"{DateTime.UtcNow:O}: Handler1\t{entry.Value.GetType().Name} {entry.Value.Id}");`

[2019-07-29 09:30] tboeker commented on #151
Command1 has ids from 100 to 109, Command2 has ids from 200 to 209.
It seems like there is something wrong with the "type detection" or serialization.

AllQueuesTheSameName: True
2019-07-25T18:58:40.1263076Z: Publish Command1 100
2019-07-25T18:58:40.1596883Z: Publish Command1 101
2019-07-25T18:58:40.1632048Z: Publish Command1 102
2019-07-25T18:58:40.1667221Z: Publish Command1 103
2019-07-25T18:58:

[2019-07-29 09:30] tboeker commented on #151
the Handler1 is only a text

[2019-07-29 11:57] niemyjski commented on #151
Thanks, I'll take a look

[2019-07-30 12:16] niemyjski commented on #151
I'm looking into this but this is the test case that I created from the above:

[code]

[2019-07-30 12:57] niemyjski commented on #151
I'm not able to reproduce this issue with the following test:

[code]

I added asserts to double check my work. Also here is the output:

[code]

If you can modify this test to recreate your issue please let me know by pasting the modified one below.

[2019-07-30 12:58] niemyjski commented on #151
As stated before, I believe your sample had a console.writeline with the same exact output message for command one and command2 that caused this issue.

[2019-07-30 12:58] #151 closed

[2019-07-30 12:59] niemyjski commented on #150
Is there any updates on this?

[2019-07-30 12:59] niemyjski commented on #135
@iAgiler were you able to add a pr for this?

[2019-07-30 13:51] niemyjski commented on #150
I made a pr for this and will close this issue :)

[2019-07-30 13:51] #150 closed

[2019-09-07 09:16] Roneri75 opened #154 "Simple Question about Scheduling jobs"
Hi

We are building an app where we need to schedule jobs, .exe executions mostly , and i'm wondering if it is possible to use the cron schedule in FundationFX to run a set of jobs in a sequential order?
And is it possible to have multiple cron scheduls on the same set of jobs?

[2019-09-08 12:59] niemyjski commented on #154
Hello,

Yes you can define a cron job as shown here (https://github.com/FoundatioFx/Foundatio/blob/master/samples/Foundatio.HostingSample/Program.cs#L69) and schedule them out to run at a set time, I don't know if we respect sequential order if you set them all to run at the same time, it may happen in parallel (can you try this out and let us know).

I'm not too sure off the top of my head but yo

[2019-10-24 12:24] Jogai opened #156 "[Feature] Search block"
Idea for another building block. Implementations could be ElasticSearch, Azure Search, Lucene, SQL FullText etc.

[2019-10-24 14:03] niemyjski commented on #156
We have this with the https://github.com/foundatiofx/foundatio.repositories repository where we have an implementation for Elasticsearch. It would be nice to support additional implementations. Although the more I think about it, I like that the queries are implemented in a repository and not leaked throughout the code making it injectable/testable. But I almost feel like we should just use the cl

[2019-10-24 14:03] #156 closed

[2020-01-06 07:15] AminuBishir opened #176 "Error While Installing package from NuGet"
I was trying to install this package into my application but I got an installation error as thus:
[code]

Please what am I doing wrong? and
What can I do to fix this?

Info:
It's Desktop winform app that uses EF 6

[2020-01-06 13:26] niemyjski commented on #176
We target .NET Standard 2.0 so it should be working. It could be your version of Visual Studio / NuGet tooling, are you on the latest version? Also I'd recommend upgrading to latest version of .NET if possible as they've made many improvements for consuming .net standard libraries.

[2020-01-06 15:16] AminuBishir commented on #176
Thanks for you response.
I'll try out your suggestions.

[2020-01-16 03:35] ejsmith commented on #176
Your app needs to be running at least .net 4.6.1 framework in order to work with .net standard 2.0 assemblies.

[2020-01-16 13:13] niemyjski commented on #176
I'm going to close this as @ejsmith answered this question. If you run into any issues please let us know.

[2020-01-16 13:13] #176 closed

[2020-02-20 12:00] saleembasit opened #192 "Similar classes in different packages"
Hi

I am a noob here, so please be gentle.

I wanted to use second level crons in my project. I noticed that the current code is ignoring Cronos CronFormat.IncludesSeconds options. When trying to add this option, I noticed the same/similar classes in .Hosting and .Extensions.Hosting packages.

Please guide me in which classes should I add my changes.

Regards

[2020-02-20 12:56] niemyjski commented on #192
I'd add them to both, one is for .NET Core 2.0 and the other is for .NET Core 3.0 (extensions). The changes should be pretty easy to just copy and paste to the other project. I hope this helps.

[2020-02-20 12:56] #192 closed

[2020-03-22 23:49] GoNextGroup opened #196 "multiple keys locking per AcquireAsync"
Hello.

Is here possible to lock multiple keys by one  AcquireAsync call?
The case it can be used: lock different tables of the database in EF Core, for example.

Thank you.

[2020-03-23 02:59] niemyjski commented on #196
What would you expect to get back a collection of locks? What if one or more can't be acquired? I think this introduces a lot of added complexity.  For your example, there are architecture patterns for handling this like  two-phase commit distributed transactions, or a queue for writes which I feel you may be trying todo?

[2020-03-23 09:23] GoNextGroup commented on #196
Let me explain my idea.
Imagine we have same client orders which can be collected in the routes (some orders per route). And I have same services which work with orders and routes. Orders and Routes are placed independently in the different tables. And we need to lock access for services which work with orders and routes both when one service works with data from, for example, orders table.
So, I

[2020-04-14 17:50] ejsmith opened #203 "Consider adding DiagnosticSource support"
https://github.com/dotnet/runtime/blob/master/src/libraries/System.Diagnostics.DiagnosticSource/src/DiagnosticSourceUsersGuide.md

https://github.com/dotnet/runtime/blob/master/src/libraries/System.Diagnostics.DiagnosticSource/src/ActivityUserGuide.md

https://github.com/microsoft/ApplicationInsights-dotnet/blob/develop/WEB/LibraryInstrumentationGuidance.md

https://docs.microsoft.com/en-us/aspnet

[2020-04-26 20:33] ejsmith opened #207 "Move all abstraction helper methods from extension methods to default interface implementations"
In Foundatio 10.0 I want to move all of our extension methods we have added to the interface abstractions to be default interface implementations instead of being extension methods. The reason for doing this is because it will make using the API much more intuitive and still provide the core benefit of making it as easy as possible to create implementations of the abstractions. We currently have q

[2020-04-26 20:36] ejsmith opened #208 "Change metrics abstraction to be more performant"
Our current metrics abstraction forces users to pass the name of the metric with every single call to update the metric (increment, decrement, etc). We should be able to define the configuration for our metrics as a static or singleton somewhere and then just call methods on it like `Increment()` without having to have any string allocations.

Also, we need to support adding labels / dimensions to

[2020-04-26 21:00] ejsmith commented on #203
I added support for tracking correlationid through on queue entries and then did an experiment to make sure that you can add activities and diagnostics for queue entry processing outside of Foundatio. That works. Not sure if we want to take a dependency on `System.Diagnostics.DiagnosticSource`. I've heard some other people have had trouble with taking on that dependency probably because of the sam

[2020-05-05 19:47] niemyjski commented on #196
This will go out in the next release! Thanks for submitting the feature request and being patient. https://github.com/FoundatioFx/Foundatio/commit/a759aabcb2079d74ffad029a6204061cd1390ce1

[2020-05-05 19:47] #196 closed

[2020-05-05 19:55] ejsmith commented on #207
Looked into this and it decided it was really only an issue with Foundatio.Repositories and that it requires netstandard21 and its not worth it.

[2020-05-05 19:55] #207 closed

[2020-05-05 19:56] #154 closed

[2020-05-05 19:59] ejsmith commented on #135
@iAgiler we added an option to the `InMemoryCacheClient` to allow turning cloning off. So you should be able to set that option on the `HybridCacheClient` now as well.

[2020-05-05 19:59] #135 closed

[2020-05-06 01:24] Leon99 opened #209 "Inconsistent cache descriptions in README"
From README:

Issues here:
1. HybridCacheClient uses not just InMemoryCacheClient but both an ICacheClient and InMemoryCacheClient. Description of RedisHybridCacheClient mentions it but HybridCacheClient's doesn't. At first, I thought that this implementation doesn't need a distributed cache at all, but, upon checking the source, I realised that's not the case.

2. I suspect the note about "This c

[2020-05-06 02:47] ejsmith commented on #209
Yes, that makes sense. Happy to take a PR!

[2020-05-06 06:31] #209 closed

[2020-05-29 05:36] ejsmith commented on #208
Test issue comment on discord.

[2020-06-09 00:03] ejsmith commented on #203
https://github.com/open-telemetry/opentelemetry-dotnet/issues/506

[2020-06-29 17:15] johnnygiter opened #233 "How to delete pattern"
Hi,
I want delete certain path bucket in aws s3 using regexp for example
bucketname://client1/test/2020-01-02/files/objectstodelete
bucketname://client2/test/2020-01-02/files/objectstodelete

So it should delete by date "2020-01-02" two paths for both client1 and client2 in the same bucket leaving all other untouched
Is that possible using your code? How to?

[2020-06-29 18:02] niemyjski commented on #233
Hello,

You'd need to call DeleteFilesAsync with a pattern: https://github.com/FoundatioFx/Foundatio/blob/master/src/Foundatio/Storage/IFileStorage.cs#L21 You'd pass it a string regex (https://github.com/FoundatioFx/Foundatio.AWS/blob/master/src/Foundatio.AWS/Storage/S3FileStorage.cs#L186-L226). I think you'd do `*/test/2020-01-02/files/objectstodelete` Have you tried this?

[2020-06-29 18:33] johnnygiter commented on #233
Thanks but need full sample.

[2020-06-29 18:40] niemyjski commented on #233
Hello,

Please try calling that method: here is a unit test https://github.com/FoundatioFx/Foundatio/blob/7389bc5e15b158de89f8afc672be95ee0cdef1e0/src/Foundatio.TestHarness/Storage/FileStorageTestsBase.cs#L269

[2020-06-29 18:40] #233 closed

[2020-07-01 14:49] T1000v2 opened #234 "AWS Path exception"
Hi,

Thanks for nice piece of code, I'm testing your solution for bulk deletion with wildcard:

I have s3 aws path few objects examples: (it's path without bucketname)
id1/some1/some2/deleteme/object1
id1/some3/some4/deleteme/object2
id3/some3/some4/deleteme/object1
id4/some3/some4/deleteme/object2

await storage.DeleteFilesAsync("/id1/*deleteme*");
When I use this, it deletes me properly all "del

[2020-07-01 21:42] T1000v2 opened #235 "cron jobs"
Does your code allow to easy run simple "cron" tasks from memory periodic e.g. every day at same hour?

[2020-07-02 04:58] ejsmith commented on #235
Yes, take a look at https://github.com/FoundatioFx/Foundatio/blob/master/samples/Foundatio.HostingSample/Program.cs#L78

[2020-07-02 04:58] #235 closed

[2020-07-03 14:35] T1000v2 commented on #235
Thanks, have you got something simple which works with db? I don't want to use e.g. quartz net and so on, but want to have it later to support clustered app and in memory could not be enough.

[2020-07-03 17:04] niemyjski commented on #234
1. Can you please give us additional information about this, what errors did you run into with deletes?
2. We'd be willing to accept a pr for this behavior. We just submit delete requests to aws to delete content after getting a page of results. I'd recommend trying to add a unit tests for this scenario to the Foundatio.AWS project and stepping through the logic.

[2020-07-03 17:43] ejsmith commented on #235
@T1000v2 no, we don't have any support for persisted / distributed cron jobs currently.

[2020-07-21 10:05] Seadoo2017 opened #237 "CacheLockProvider throws format exception when it fails to acquire lock and trace logging is enabled"
CacheLockProvider.cs line 81:
 _logger.LogTrace("Failed to acquire lock {Resource.", resource);
Should be changed to
 _logger.LogTrace("Failed to acquire lock {Resource}", resource);
So it will not throw format exception on logging and log the correct message

Thanks! :)

[2020-07-21 12:33] #237 closed

[2020-07-21 12:33] niemyjski commented on #237
Thanks for reporting this and letting us know about this!!!

[2020-07-27 08:43] Seadoo2017 opened #239 "[RedisQueue] StartWorkingImpl worker loop throws unhandled exception in task which prevents further queue processing"
Consider the following scenario
1. StartWorkingImpl loop: Item is dequeued and user handle function is called with the queue entry
2. User handling function takes more time than queue WorkItemTimeout so the queue entry is "auto abandoned" (while in processing)
3. User handling function finish and calls CompleteAsync on the queue entry
4. RedisQueue::CompleteAsync(IQueueEntry<T> entry) will throw e

[2020-07-28 12:10] niemyjski commented on #239
I've seen this happen as well. I think we need to better handle this but find a way to detect if the work item is still being worked on and not stuck. Would you mind submitting a unit test for this to the base repo. I've seen this happen to the in memory queues as well.

[2020-07-30 09:43] Seadoo2017 commented on #239
@ejsmith I just reviewed the fix to port it to Redis queue (which my original issue referred to) and I have some concerns regarding the fix:
1. What happens when the maintenance is running in a different process than the dequeued item? the solution of having the same item instance won't help
2. Even with same instance item, I believe the issue can still happen but it's much harder to reproduce now

[2020-08-04 01:20] ejsmith commented on #239
@Seadoo2017 finally got the tests working and merged the changes in. I think your concerns should be addressed. What do you think?

[2020-08-04 01:22] ejsmith commented on #239
@Seadoo2017 there is a new 10.0.0-beta8 on nuget if you want to try it.

[2020-08-04 09:01] Seadoo2017 commented on #239
@ejsmith
https://github.com/FoundatioFx/Foundatio/commit/43d975b8dd7f28034291681f3ed3cb2bbdbeb03f

Does not resolve the issue I raised for MemoryQueue and not for RedisQueue as I explained here:
https://github.com/FoundatioFx/Foundatio/issues/239#issuecomment-666264565

The fix does make the unit test which reproduce this issue pass, but the issue itself isn't solved and can still happen.
It's muc

[2020-08-13 21:33] ejsmith commented on #239
@Seadoo2017 I made some more changes to the in memory queue. I don't think we can have a race condition because only 1 of the `TryRemove` operations in the complete or abandon calls is going to succeed. Take a look and tell me what you think.

[2020-08-24 21:09] Seadoo2017 commented on #239
@ejsmith I just pushed a new pull request (https://github.com/FoundatioFx/Foundatio/pull/250) which demonstrates that the issue still exists.
The test is a bit ugly (sorry) :/ because it's much harder to reproduce in test the timing which causes the issue but it happens in real life as well.
Please note that my test demonstrates one example of timing issue which reproduce the issue, but as I expla

[2020-08-24 22:47] ejsmith commented on #239
@Seadoo2017 I just committed a change that fixed your test.

[2020-08-25 07:44] Seadoo2017 commented on #239
@ejsmith Thanks!
Do you want me to create a pull request for porting the fix to RedisQueue?

[2020-08-25 13:24] ejsmith commented on #239
Yes that would be really helpful. Thank you!

[2020-08-25 19:37] ejsmith commented on #239
@Seadoo2017 I just committed changes to the Redis queue to match the behavior of the in memory queue. We will be putting out new releases. Would love to see what your friends thoughts on the cluster support issue are.

[2020-08-26 11:42] Seadoo2017 commented on #239
@ejsmith Great, thanks!

Regarding RedisQueue cluster when  executing LUA script, we must provide the keys used in the evaluate api call so it will know on which shard to run the script, in addition, all keys used in the script must be on the same shard or it will fail.
(The names of the keys used in the script must have prefix with { } to force them on the same shard)
In addition, we can't pre-lo

[2020-08-26 11:42] #239 closed

[2020-08-26 15:47] ejsmith commented on #239
So you have Foundatio queues working on a Redis cluster setup? We haven't tried it, but last time we did it seemed like there was a bunch of issues with it.

[2020-08-26 15:56] Seadoo2017 commented on #239
It's a new setup so it's early to say, so far we encountered few issues:
1. My fix for (https://github.com/FoundatioFx/Foundatio.Redis/issues/64) is incompatible with cluster, we fixed this issue
2. Queue statistics (IMetricsClientStats.GetQueueStatsAsync) had some issues, we worked around it
3. RedisCacheClient has some methods which are not compatible with cluster but we are not using them at th

[2021-08-25 21:15] Terebi42 opened #264 "InMemoryCacheClient Maximum Size"
In addition to being able to limit the total number of items, it would be nice to be able to limit the size, so that items could be removed due to memory pressure.

[2021-09-16 17:19] jojopeter opened #265 "Kafka consumer throughput. Usage of KafkaMessageBusOptions.DefaultConsumerThreadCount"
Hi,
This is a query on Consumer throughput of Kafka when I use Foundatio my application.

We subscribe to the messages in following manner.

namespace : Foundatio.Messaging
class : static class MessageBusExtensions
Method:
        public static Task SubscribeAsync<T>(this IMessageSubscriber subscriber, Func<T, Task> handler, CancellationToken cancellationToken = default) where T : class {

[2021-09-17 01:01] niemyjski commented on #265
We don't have a Kafka message bus implementation that we ship with. What NuGet package are you using? We also try not to do any GetAwaiter().GetResults() in an async code path.

[2021-09-17 15:48] jojopeter commented on #265
Thanks for your reply.
Sorry I posted in the repository.
BTW, I am using 'Aix.KafkaMessageBus' package.

Thanks.

[2021-09-20 11:03] niemyjski commented on #265
No problem, I'm going to close this as we don't own that code. I'd recommend posting on their project repository. If you have any feedback on the core libraries we would love to hear it.

[2021-09-20 11:03] #265 closed

[2021-10-26 13:33] paulreicherdt opened #266 "Cancel queue job and clear the queue. Also disable job"
Hi,

thanks for this great set of libraries. Really helpful.

Is there a way to cancel all queue jobs and clear the queue? We have some long running jobs that need to be cancelled on event. And afterwards, the user can enqueue the job again.

And is there a way to disable/deactivate a job via settings? E.g. if we want to disable some job on specific environments.

Kind regards
Paul

[2022-01-14 16:23] macco3k opened #269 "publishAsync immediately returns when awaited"
I have this setup where I am using the in-memory message bus to exchange messages between objects. At some point, one of them will send a message which triggers an expensive recomputation involving database operations. This is async and returns a task so it can be awaited. However, given the following code, the first call to `publishAsync` immedately returns, instead of (at least from what I have

[2022-01-14 17:17] ejsmith commented on #269
I think you are looking for more of a request / response messaging pattern. We don't currently support that. When you publish the message it's sent out to all subscribers. It's a pub/sub model.

[2022-01-14 19:12] macco3k commented on #269
Indeed that's what the code is expecting, though being familiar with the pub/sub model, the actual behaviour is exactly what I would have expected (the code was not written by me). However, looking at the code for the in-memory implementation it looks like everything is awaited all the way down, so I'm still wondering why is this not resuming execution only after all subscribers have run? As menti

[2022-01-15 23:00] ejsmith commented on #269
PublishAsync is only publishing the messages which normally would mean sending that message to some sort of messaging server. The message handlers are then run separately. So even with the in memory implementation, the handlers are called separately from the publish.

[2022-01-15 23:00] #269 closed

[2022-01-16 07:39] macco3k commented on #269
Makes total sense, just wanted to check whether I was missing something. Thanks for clarifying!

[2022-01-20 16:56] Terebi42 opened #270 "Feature Request : Priority Queues"
It would be very valuable if you could queue items into queues with a priority, and have items pulled from the queue in priority order for processing by jobs.

I currently work around this by having multiple queues, with multiple jobs, but this means that multiple jobs are running simultaneously, which in some cases is not scalable due to resource constraints.

[2022-01-20 19:46] ejsmith commented on #270
That's really not possible with pretty much any queuing system. You end up having to do exactly what you are doing. Routing the messages to a dedicated high priority queue.

[2022-01-20 20:24] Terebi42 commented on #270
Would it be possible to give a job a list of queues (of the same type), so that it tried to pop off each of them, but only one would be able to get processed at any given time (because there is only one job task running)

[2022-02-09 15:58] dcomartin opened #271 "InMemoryCacheClient SetAllAsync doesn't respect Expiry"
InMemoryCacheClient .SetAllAsync calls SetAsync but does not pass the expiry.  Which it likely should since the expiry in the SetAllAsync is never used.

https://github.com/FoundatioFx/Foundatio/blob/5a2a8d0cffe81161f832472192bffa3196b0d10e/src/Foundatio/Caching/InMemoryCacheClient.cs#L535

Just confirming or if I'm missing something?

[2022-05-03 07:43] tho666 opened #273 "GetFileListAsync - searchPattern"
I've started using this and my need is to be able to do some custom searches for files. I have a couple of questions in regards to this:
1. Can I use some custom search pattern to be able to do TopLevel/All directory tree kind of search?
2. Is searchPattern a Regex type of pattern? (Any details would be appreciated as I can't find any info on this.)

Thanks!

[2022-05-05 17:47] ejsmith opened #274 "Unified messaging"
# Benefits

- Job / process / container consolidation
  - We control which message types are handled by a given process
  - Single process can handle many message types
  - No need to create a new job, ECS task, container for each message type like we currently do
  - No need to create a dedicated queue resource (SQS) for every message type
    - Many types of messages handled per resource, we con

[2022-07-10 12:08] pinkfloydx33 opened #277 "Upgrade Deprecated Azure SDK Clients"
The current Azure-backed Foundatio libraries are using the older, **deprecated** Azure SDK clients. For example Queues are using `CloudQueue` instead of the **much newer** `QueueClient`.

More generally you are making using of the `Microsoft.*` prefixed packages, instead of the newer `Azure.*` prefixed ones.

| Repository                | Package                               | Replacement

[2022-07-10 13:48] niemyjski commented on #277
I haven't had time to finish that pr, if you could pick up where I left off that would be awesome. we'd want to support both identity options both passwordless and connection string. Would you please take over upgrading this for me?

[2022-07-11 12:42] niemyjski commented on #277
If anything, I'd make it additive to what we already do, you could create a third constructor to take those concrete arguments as it doesn't really feel idiomatic to do it via options.

[2022-07-11 12:44] pinkfloydx33 commented on #277
Sounds good to me

[2022-09-14 10:00] pinkfloydx33 opened #279 "Split Foundatio.Extensions.Hosting in two"
Currently, `Foundatio.Extensions.Hosting` has a `FrameworkReference` to `Microsoft.AspNetCore.App` in order to accommodate the startup filters and middleware. However, this package isn't just limited to ASP.NET. In fact, we use it inside of a Worker Service (no web component) to leverage the `HostedJobService` and friends. I noticed today while examining the outputs of a self-contained publish tha

[2022-09-14 14:03] ejsmith commented on #279
Hmm... not opposed to breaking it up, but I'd prefer not to. Our job services still use web just so they can serve health and readiness probes. How much is it adding to the docker image?

[2022-09-15 15:35] ejsmith commented on #279
Yeah, what you are saying makes sense. Not sure what we would call the 2 different packages. Ideas? Can you create a PR for the changes?

[2022-09-15 18:14] pinkfloydx33 commented on #279
Taking Serilog as an example, they call them `Serilog.Extensions.Hosting` and `Serilog.AspNetCore`. The latter is exactly like what I'm proposing with basically Middleware and AppBuilder/ServiceCollection extensions and a reference to/dependency on the former.

So perhaps:

- `Foundatio.Extensions.Hosting`
- `Foundatio.AspNetCore`

I'm having oral surgery tomorrow. Not sure how willing I'll be to

[2022-10-31 12:00] frabe1579 opened #280 "DataDictionary.Empty is not protected by potential bugs."
I've found a potential source of bugs:
the class `Foundatio.Utility.DataDictionary` exposes a static readonly field `Empty` to represent empty dictionaries, but it's instance is not readonly, so values can be added to `Empty` causing potential bugs.
The current declaration is:
[code]
A new safe declaration shoud be
[code]
This at least returns always empty dictionaries, but creates a new instance

[2022-10-31 12:20] niemyjski commented on #280
Yes, we should work on making empty be read-only. @ejsmith thoughts on above, kind of would be nice to make it truly readonly instead of returning a new instance. But would take a little bit of work.

[2022-10-31 14:44] frabe1579 commented on #280
Maybe a `IReadOnlyDictionary<,>`, with appropriate extension methods, should be used when exposed for example on `IQueueEntry<>`, but I don't know if it's used in other code.

[2022-11-02 09:18] frabe1579 opened #281 "Throw exceptions on IFileStorage instead of returning false or null."
Almost all the methods in IFileStorage, in the different implementations, catches exception without analyzing errors and returns null or false.
This can lead to mis-interpretation of the result.
For example, takes the methods `ExistsAsync` and `GetFileInfoAsync`: they return false/null if the file does not exist, but also for any error (look at [S3FileStorage](https://github.com/FoundatioFx/Founda

[2022-11-02 14:59] ejsmith commented on #281
@frabe1579 I think you are probably right. I don't want to go crazy with throwing exceptions, but you are right that network errors and services being down should not be going through and returning a result like everything was fine.

[2022-11-04 01:10] niemyjski commented on #281
@frabe1579 would you mind submitting a pr for this.

[2022-11-04 08:05] frabe1579 commented on #281
Ok, I will try some solutions, and present them as PRs.

[2022-11-11 12:48] niemyjski commented on #277
@pinkfloydx33 have you been able to make any progress on this?

[2022-11-12 10:57] pinkfloydx33 commented on #277
Hi @niemyjski, I got busy and completely forgot about this. We've gone a different route with our application and no longer need the functionality, making it a much lower priority for me. I still believe it's worthwhile though and would contribute if only I had some free time :-(